.footer{
 background-image: linear-gradient(to bottom, #002060,#11203C);
}


.footer-text{
      font-size: 15px;
}

.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 4px;
  padding: 18px 0;
 
}

