body {
  margin: 0;
  font-family:  'Poppins' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black !important;
}
.text{
  color: #444444 !important;
  font-weight: 500 !important;
}